#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#kleuren > li { 
  list-style-type: none;
  display: flex; 
  align-items: center;
  gap: 5px;
  margin-top: 20px;
} 


form button {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 51px;
  text-align: center;
  display: block;
  font-size: 15px;
  border-radius: 5px;
} 

#kpreview {
  width: 30px;
  height: 30px;  

}

#kform {
  display: block;
  align-items: center;
  padding-left: 40px;
}
